<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="Regresar"
        color="primary"
        mode="ios"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="onClick()" expand="block" shape="round">
    tocame
  </ion-button>

  <ion-button (click)="presentAlertMultipleButtons()" expand="block" shape="round">
    multiple
  </ion-button>

  <ion-button (click)="presentAlertPrompt()" expand="block" shape="round">
    prompt
  </ion-button>
</ion-content>
