
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
  </style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
  </style>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>     
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
    <br>
    
    <div class="enunciado">
      <strong style="font-family: 'Open Sans', sans-serif;">Viajes</strong> 
      <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7;">Viajes Disponibles</p>
    </div>
    <ion-item-divider>

    </ion-item-divider>
      <div class="container" style="display: flex ;">
        <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7; padding-left: 20px;">Matias Soto</p> 
        <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7; padding-left: 20px;">Carlos Gonzalez</p>
        <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7; padding-left: 20px;">Benjamin Monti</p>
        
      </div>
      <div class="container" style="display: flex;">
        <img src="https://previews.123rf.com/images/alekseyvanin/alekseyvanin1712/alekseyvanin171200974/91724249-perfil-del-c%C3%ADrculo-para-avatar.jpg" width="90px" height="90px">
        <img src="https://previews.123rf.com/images/alekseyvanin/alekseyvanin1712/alekseyvanin171200974/91724249-perfil-del-c%C3%ADrculo-para-avatar.jpg" width="90px" height="90px">
        <img src="https://previews.123rf.com/images/alekseyvanin/alekseyvanin1712/alekseyvanin171200974/91724249-perfil-del-c%C3%ADrculo-para-avatar.jpg" width="90px" height="90px">
      </div>
      <div class="container" style="display: flex;">
        <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7; padding-left: 25px;">70%</p> 
        <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7; padding-left: 70px;">30%</p>
        <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7; padding-left: 70px;">40%</p>
      </div>
      <div class="container" style="display: flex;">
        <ion-checkbox  style="font-family: 'Open Sans', sans-serif; font-size: xx-small; color: #A7A7A7; ">Seleccionar</ion-checkbox>
        <ion-checkbox  style="font-family: 'Open Sans', sans-serif; font-size: xx-small; color: #A7A7A7; padding-left: 25px;">Seleccionar</ion-checkbox>
        <ion-checkbox  style="font-family: 'Open Sans', sans-serif; font-size: xx-small; color: #A7A7A7; padding-left: 25px;">Seleccionar</ion-checkbox>
      </div>
      <ion-item-divider>

      </ion-item-divider>

      <div class="enunciado">
        <strong style="font-family: 'Open Sans', sans-serif;">Precios</strong> 
        
      </div>

      <div class="container" >
        <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7; padding-left: 20px;">Matias Soto | $19.00</p> 
        <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7; padding-left: 20px;">Carlos Gonzalez | $19.00</p>
        <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7; padding-left: 20px;">Benjamin Monti | $19.00</p>
        
      </div>
    
      
      

       
      
      
      
      
    
    

    <div class="container">
      
      <br>
      <ion-button expand="full" (click)="showAlert()">
        Continuar
      </ion-button>
     
    </div>
  </ion-content>

  
  
</ion-content>