<ion-header>
  <ion-toolbar>
    <ion-icon name="car" class="car-icon" style="padding-left: 100px;"></ion-icon> <!-- Icono de auto -->
  <br>
  <p style="font-family: 'Open Sans', sans-serif; padding-left: 90px;">Acerca De.. </p> <!-- Texto "TeLlevoApp" -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>     
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      Versión de la Aplicación
    </ion-card-header>
    <ion-card-content>
      <p>Nombre de la aplicación: TeLlevoApp</p>
      <p>Versión: 1.0.0</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Descripción
    </ion-card-header>
    <ion-card-content>
      <p>
        TeLlevoApp es una aplicación de viajes que te permite encontrar y reservar viajes de manera sencilla.
        Nuestra plataforma conecta a pasajeros con conductores para brindar un servicio de transporte conveniente.
        Además, puedes realizar un seguimiento de tus viajes, ver el historial de tus viajes anteriores y marcar conductores como favoritos.
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Logo_DuocUC.svg" alt="">
  </ion-card>
</ion-content>