
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
  </style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
  </style>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        
      </ion-buttons>     
      <ion-title>
        <div class="header-content">
    
          <ion-icon name="car" class="car-icon"></ion-icon> <!-- Icono de auto -->
          
          <p style="font-family: 'Open Sans', sans-serif;">TeLlevoApp</p> <!-- Texto "TeLlevoApp" -->
          
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
   
  <ion-content>
    <br>
    
    <div class="enunciado">
      <strong style="font-family: 'Open Sans', sans-serif;">¿Donde te llevamos?</strong> 
      <p style="font-family: 'Open Sans', sans-serif; font-size: small; color: #A7A7A7;">Conductores cerca tuyo</p>
    </div>
    <img src="https://www.elnuevoherald.com/noticias/florida/sur-de-la-florida/t45zd3/picture79174627/alternates/LANDSCAPE_1140/uber%20app%20miami" style="padding-left: 30px; padding-right: 30px;" alt="">
    <div class="container">
      
      <br>
      <ion-button expand="full" (click)="openActionSheet()">
        Continuar
      </ion-button>
     
    </div>
  </ion-content>

  
  
</ion-content>